body {
    margin: 0%;
}

h2,
h3 {
    font-family: 'Open Sans';
    font-weight: 400;
    margin-top: 0%;
}

.bar {
    background-image: linear-gradient(to bottom right, #E958A2, #650061);
    padding: 0.5%;
}

.title {
    display: inline;
    margin-left: 3%;
    padding: 0%;
    font-family: "Sitka Display";
    font-weight: 300;
    font-size: 350%;
    color: whitesmoke;
}

.admin-subtitle {
    display: inline;
    margin-left: 1%;
    position: inherit;
    font-family: "Open Sans";
    color: #650061;
    font-weight: 400;
}

.side-menu {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #E5E5E5;
}

.side-menu:after {
    content: "";
    display: table;
    clear: both;
}

.category {
    margin-left: 15%;
    padding-top: 5%;
}

.category:hover {
    color: #650061;
    cursor: pointer;
    text-decoration: underline;
}

.content-body {
    padding-top: 1%;
    float: right;
    width: 75%;
}

.body-sub {
    padding-left: 5%;
    padding-right: 2%;
}

.content-body:after {
    content: "";
    display: table;
    clear: both;
}

.category-btn {
    font-family: 'Open Sans';
    width: 15%;
    border: none;
    background-image: linear-gradient(to bottom right, #E958A2, #650061);
    border-radius: 30px;
    padding: 1%;
    color: whitesmoke;
    font-size: medium;
    margin-left: 5%;
}

.category-btn:hover {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, #E958A2, #650061);
}

.input-field {
    margin-left: 5%;
    margin-bottom: 2%;
}

label {
    display: block;
    font-size: large;
    font-family: 'Open Sans';
    color: #650061;
    letter-spacing: 0.7;
}

.title-input {
    width: 50%;
    height: 4.5%;
    border-radius: 8px;
    border: 2px solid #E5E5E5;
}

a {
    text-decoration: none;
    color: black;
}